h1,
h2,
h3,
a,
p,
span {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  color: white;
  margin: 0px;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color);
}

nav {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--border-color);
}

nav .nav-section {
  padding: 3rem 2rem;
  display: flex;
  gap: 1rem;
  border-left: 1px solid var(--border-color);
  align-items: center;
  justify-content: center;
}

#nav-mobile-section {
  display: flex;
  flex-basis: calc(100% * (2 / 3));
  z-index: 2;
}

#nav-toggle-button {
  align-items: center;
  background-color: transparent;
  border: none;
  border-left: 1px solid var(--border-color);
  color: white;
  cursor: pointer;
  display: none;
  gap: 0.8rem;
  height: 100%;
  justify-content: center;
  outline: none;
  padding: 0rem 3rem;
  position: relative;
  z-index: 3;
}

#nav-toggle-button:hover,
#nav-toggle-button:hover > span {
  color: var(--highlight-color);
}

#nav-toggle-button > span,
#nav-toggle-button > i {
  display: inline-block;
  height: 1rem;
  line-height: 1rem;
}

#nav-social-section,
#nav-contact-section {
  flex-grow: 1;
}

#nav-logo-section {
  flex-basis: calc(100% / 3);
  justify-content: flex-start;
}

#nav-logo-section > a > i {
  font-size: 2.5rem;
}

#nav-link-section {
  flex-basis: 50%;
  gap: 6rem;
}

#nav-social-section {
  gap: 3rem;
}
